# YOU ONLY NEED THIS IF YOU NEED TO CHANGE THE DEFAULT VALUES REFLECTED
# HERE
#
# To use: Copy this template to `.env` and replace the default values
# with your own. You can remove a variable entirely if you're using the
# default.

TEST_SOLR_HOST="127.0.0.1"
TEST_SOLR_PORT="8983"
TEST_SOLR_CORE="test_core"
